.box {
    flex: 1;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 15px 20px;
  }
  
  .boxes .container {
    display: flex;
    justify-content: space-between;
  }
  

  .box i {
    margin-right: 20px
    px;
  }

@media (max-width: 768px) {
    .header .container {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
      }
    
    .boxes .container {
      display: block;
      text-align: center;
    }
  }

